/*

d- device
p- page
l- layout
c- component
m- module


u- utility
t- type
i- icon
f- form

 */
/*------------------------------------*    CSS & SASS Libs
\*------------------------------------*/
/*------------------------------------*	SASS Utilities
\*------------------------------------*/
/*------------------------------------*	CSS Utilities
\*------------------------------------*/
/*------------------------------------*  CSS Helpers 
\*------------------------------------*/
/**
 * Truncate - eg '@truncate(100px);'
 */
/**
 * Retina device targetting
 */
/*------------------------------------*  positioning
\*------------------------------------*/
/*
 * Generic Content Helpers
 * 
 */
.t-uppercase {
  text-transform: uppercase; }

.t-capitalize {
  text-transform: capitalize; }

.t-lowercase {
  text-transform: lowercase; }

.u-hide {
  display: none; }

.u-show {
  display: block; }

.u-accessible-hide {
  visibility: hidden;
  height: 0;
  width: 0; }

/*------------------------------------*  Theme Helpers
\*------------------------------------*/
.c-menu, .c-menu ul {
  margin: 0;
  padding: 0; }
  .c-menu li {
    margin: 0;
    list-style: none;
    padding: 0; }

.c-menu a {
  display: block;
  padding: .25rem 0;
  text-decoration: none;
  width: 100%; }

/*------------------------------------*    SITE SASS
\*------------------------------------*/
/*------------------------------------*	COLOR PALETTE & RANKING
\*------------------------------------*/
/*------------------------------------*		Global Responsive Settings
\*------------------------------------*/
/*------------------------------------*	Font Stacks
\*------------------------------------*/
/*------------------------------------*	Color Settings
\*------------------------------------*/
/*------------------------------------*	Base Font Settings // These need to be reviewed not all are used or useful
\*------------------------------------*/
/*------------------------------------*	Base Animation Settings
\*------------------------------------*/
/*------------------------------------*	Base Misc
\*------------------------------------*/
/*------------------------------------*	DOCS MISC
\*------------------------------------*/
/*------------------------------------*	Type & Spacing Scale Settings
\*------------------------------------*/
/*------------------------------------*	Type & Spacing Scale Values
\*------------------------------------*/
/*------------------------------------*  $FONT-SIZES

  If you need to use one of the font-size scale values as a padding or margin these are helpful.
  Values are not responsive.



TODO: make them $font-size-giga etc...




\*------------------------------------*/
/*------------------------------------*    
    %FONT-SIZE Dynamicaly created Placeholders with responsive breakpoints

\*------------------------------------*/
@media (min-width: 0px) {
  html {
    font-size: 16px; } }

@media (min-width: 480px) {
  html {
    font-size: 16px; } }

@media (min-width: 780px) {
  html {
    font-size: 18px; } }

@media (min-width: 1920px) {
  html {
    font-size: 20px; } }

/*------------------------------------*    
    SPACING SCALES

\*------------------------------------*/
html {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%; }

body {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  width: 100%; }

button {
  cursor: pointer; }

/* Zag Fonts
-------------------------------------------- */
@font-face {
  font-family: "Zag";
  font-style: normal;
  font-weight: 700;
  src: url("/docs/zag_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/docs/zag_bold-webfont.woff") format("woff"), url("/docs/zag_bold-webfont.ttf") format("truetype"), url("/docs/zag_bold-webfont.svg#ZagBoldRegular") format("svg"); }

@font-face {
  font-family: "Zag";
  font-style: normal;
  font-weight: normal;
  src: url("/docs/zag_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/docs/zag_regular-webfont.woff") format("woff"), url("/docs/zag_regular-webfont.ttf") format("truetype"), url("/docs/zag_regular-webfont.svg#ZagRegular") format("svg"); }

/* Open Sans Fonts
-------------------------------------------- */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/docs/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/docs/OpenSans-Semibold-webfont.woff") format("woff"), url("/docs/OpenSans-Semibold-webfont.ttf") format("truetype"), url("/docs/OpenSans-Semibold-webfont.svg#ZagRegular") format("svg"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("/docs/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/docs/OpenSans-Regular-webfont.woff") format("woff"), url("/docs/OpenSans-Regular-webfont.ttf") format("truetype"), url("/docs/OpenSans-Regular-webfont.svg#ZagRegular") format("svg"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/docs/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/docs/OpenSans-Light-webfont.woff") format("woff"), url("/docs/OpenSans-Light-webfont.ttf") format("truetype"), url("/docs/OpenSans-Light-webfont.svg#ZagRegular") format("svg"); }

html {
  color: #1E1E14;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h1 a, h2,
h2 a, h3,
h3 a, h4,
h4 a, h5,
h5 a, h6,
h6 a {
  color: #246aa3;
  font-weight: 600; }

a {
  color: #246aa3;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1rem; }

@media (min-width: 0px) {
  h1 {
    font-size: 1.42383rem; } }

@media (min-width: 480px) {
  h1 {
    font-size: 1.728rem; } }

@media (min-width: 780px) {
  h1 {
    font-size: 2.36859rem; } }

@media (min-width: 1920px) {
  h1 {
    font-size: 2.36859rem; } }

@media (min-width: 0px) {
  h2 {
    font-size: 1.26563rem; } }

@media (min-width: 480px) {
  h2 {
    font-size: 1.44rem; } }

@media (min-width: 780px) {
  h2 {
    font-size: 1.77689rem; } }

@media (min-width: 1920px) {
  h2 {
    font-size: 1.77689rem; } }

@media (min-width: 0px) {
  h3 {
    font-size: 1.125rem; } }

@media (min-width: 480px) {
  h3 {
    font-size: 1.2rem; } }

@media (min-width: 780px) {
  h3 {
    font-size: 1.333rem; } }

@media (min-width: 1920px) {
  h3 {
    font-size: 1.333rem; } }

@media (min-width: 0px) {
  h4 {
    font-size: 1rem; } }

@media (min-width: 480px) {
  h4 {
    font-size: 1rem; } }

@media (min-width: 780px) {
  h4 {
    font-size: 1rem; } }

@media (min-width: 1920px) {
  h4 {
    font-size: 1rem; } }

@media (min-width: 0px) {
  h5 {
    font-size: 0.88889rem; } }

@media (min-width: 480px) {
  h5 {
    font-size: 0.83333rem; } }

@media (min-width: 780px) {
  h5 {
    font-size: 0.75019rem; } }

@media (min-width: 1920px) {
  h5 {
    font-size: 0.75019rem; } }

@media (min-width: 0px) {
  h6 {
    font-size: 0.79012rem; } }

@media (min-width: 480px) {
  h6 {
    font-size: 0.69444rem; } }

@media (min-width: 780px) {
  h6 {
    font-size: 0.56278rem; } }

@media (min-width: 1920px) {
  h6 {
    font-size: 0.56278rem; } }

@media (min-width: 0px) {
  p {
    font-size: 1rem; } }

@media (min-width: 480px) {
  p {
    font-size: 1rem; } }

@media (min-width: 780px) {
  p {
    font-size: 1rem; } }

@media (min-width: 1920px) {
  p {
    font-size: 1rem; } }

p, ul, ol {
  font-weight: 300; }

ul {
  list-style-type: circle; }
  ul li {
    padding-bottom: 0.5rem; }
    ul li:last-child {
      padding-bottom: 0; }

a {
  text-decoration: none;
  transition: all 300ms; }
  a:hover {
    color: #3b8fd4; }
  a:active {
    color: #174469; }

strong, b {
  font-weight: 600; }

hr {
  border: 1px solid #aaaaaa;
  border-bottom: 0; }

@media (min-width: 0px) {
  code, kbd, pre, samp {
    font-size: 0.88889rem; } }

@media (min-width: 480px) {
  code, kbd, pre, samp {
    font-size: 0.83333rem; } }

@media (min-width: 780px) {
  code, kbd, pre, samp {
    font-size: 0.75019rem; } }

@media (min-width: 1920px) {
  code, kbd, pre, samp {
    font-size: 0.75019rem; } }

code {
  background: #f2f2f2;
  border-radius: 6px;
  display: inline-block;
  padding: 0 0.125rem; }
  code a {
    text-decoration: none; }

/* 
 * Text Size Classes
 */
@media (min-width: 0px) {
  .t-giga {
    font-size: 2.02729rem; } }

@media (min-width: 480px) {
  .t-giga {
    font-size: 2.98598rem; } }

@media (min-width: 780px) {
  .t-giga {
    font-size: 5.61023rem; } }

@media (min-width: 1920px) {
  .t-giga {
    font-size: 5.61023rem; } }

@media (min-width: 0px) {
  .t-mega {
    font-size: 1.80203rem; } }

@media (min-width: 480px) {
  .t-mega {
    font-size: 2.48832rem; } }

@media (min-width: 780px) {
  .t-mega {
    font-size: 4.20873rem; } }

@media (min-width: 1920px) {
  .t-mega {
    font-size: 4.20873rem; } }

@media (min-width: 0px) {
  .t-kilo {
    font-size: 1.60181rem; } }

@media (min-width: 480px) {
  .t-kilo {
    font-size: 2.0736rem; } }

@media (min-width: 780px) {
  .t-kilo {
    font-size: 3.15733rem; } }

@media (min-width: 1920px) {
  .t-kilo {
    font-size: 3.15733rem; } }

@media (min-width: 0px) {
  .t-alpha {
    font-size: 1.42383rem; } }

@media (min-width: 480px) {
  .t-alpha {
    font-size: 1.728rem; } }

@media (min-width: 780px) {
  .t-alpha {
    font-size: 2.36859rem; } }

@media (min-width: 1920px) {
  .t-alpha {
    font-size: 2.36859rem; } }

@media (min-width: 0px) {
  .t-beta {
    font-size: 1.26563rem; } }

@media (min-width: 480px) {
  .t-beta {
    font-size: 1.44rem; } }

@media (min-width: 780px) {
  .t-beta {
    font-size: 1.77689rem; } }

@media (min-width: 1920px) {
  .t-beta {
    font-size: 1.77689rem; } }

@media (min-width: 0px) {
  .t-gamma {
    font-size: 1.125rem; } }

@media (min-width: 480px) {
  .t-gamma {
    font-size: 1.2rem; } }

@media (min-width: 780px) {
  .t-gamma {
    font-size: 1.333rem; } }

@media (min-width: 1920px) {
  .t-gamma {
    font-size: 1.333rem; } }

@media (min-width: 0px) {
  .t-delta {
    font-size: 1rem; } }

@media (min-width: 480px) {
  .t-delta {
    font-size: 1rem; } }

@media (min-width: 780px) {
  .t-delta {
    font-size: 1rem; } }

@media (min-width: 1920px) {
  .t-delta {
    font-size: 1rem; } }

@media (min-width: 0px) {
  .t-epsilon {
    font-size: 0.88889rem; } }

@media (min-width: 480px) {
  .t-epsilon {
    font-size: 0.83333rem; } }

@media (min-width: 780px) {
  .t-epsilon {
    font-size: 0.75019rem; } }

@media (min-width: 1920px) {
  .t-epsilon {
    font-size: 0.75019rem; } }

@media (min-width: 0px) {
  .t-zeta {
    font-size: 0.79012rem; } }

@media (min-width: 480px) {
  .t-zeta {
    font-size: 0.69444rem; } }

@media (min-width: 780px) {
  .t-zeta {
    font-size: 0.56278rem; } }

@media (min-width: 1920px) {
  .t-zeta {
    font-size: 0.56278rem; } }

@media (min-width: 0px) {
  .t-milli {
    font-size: 0.70233rem; } }

@media (min-width: 480px) {
  .t-milli {
    font-size: 0.5787rem; } }

@media (min-width: 780px) {
  .t-milli {
    font-size: 0.42219rem; } }

@media (min-width: 1920px) {
  .t-milli {
    font-size: 0.42219rem; } }

@media (min-width: 0px) {
  .t-micro {
    font-size: 0.6243rem; } }

@media (min-width: 480px) {
  .t-micro {
    font-size: 0.48225rem; } }

@media (min-width: 780px) {
  .t-micro {
    font-size: 0.31672rem; } }

@media (min-width: 1920px) {
  .t-micro {
    font-size: 0.31672rem; } }

/* Text Effects */
.t-relief,
.l-main h1,
.l-main h2 {
  text-shadow: -2px 1px 0 #ffffff, -6px 4px 0 rgba(99, 99, 99, 0.1); }


.t-3d {
  color: #fff;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.l-constrained {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 780px) {
    .l-constrained {
      max-width: 1024px; } }

label {
  display: block;
  margin: 0.88889rem 0;
  text-transform: uppercase; }
  @media (min-width: 0px) {
    label {
      font-size: 0.79012rem; } }
  @media (min-width: 480px) {
    label {
      font-size: 0.69444rem; } }
  @media (min-width: 780px) {
    label {
      font-size: 0.56278rem; } }
  @media (min-width: 1920px) {
    label {
      font-size: 0.56278rem; } }

input, textarea {
  background: #636363;
  border: 1px solid #636363;
  color: #494931;
  padding: .5rem 1rem;
  display: block;
  width: 100%; }
  @media (min-width: 0px) {
    input, textarea {
      font-size: 0.88889rem; } }
  @media (min-width: 480px) {
    input, textarea {
      font-size: 0.83333rem; } }
  @media (min-width: 780px) {
    input, textarea {
      font-size: 0.75019rem; } }
  @media (min-width: 1920px) {
    input, textarea {
      font-size: 0.75019rem; } }

textarea {
  height: 10rem;
  width: 100%; }

.c-site-logo {
  display: block;
  padding: 1rem;
  width: 80px; }
  @media (min-width: 780px) {
    .c-site-logo {
      text-align: center;
      width: 230px; } }
  .c-site-logo__text {
    color: rgba(255, 255, 255, 0.2);
    font-family: "Zag", medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: block; }
    @media (min-width: 0px) {
      .c-site-logo__text {
        font-size: 0.88889rem; } }
    @media (min-width: 480px) {
      .c-site-logo__text {
        font-size: 0.83333rem; } }
    @media (min-width: 780px) {
      .c-site-logo__text {
        font-size: 0.75019rem; } }
    @media (min-width: 1920px) {
      .c-site-logo__text {
        font-size: 0.75019rem; } }

.c-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.25); }
  .c-menu__title {
    padding: 0.5rem 0;
    margin: 0; }
    @media (min-width: 0px) {
      .c-menu__title {
        font-size: 0.88889rem; } }
    @media (min-width: 480px) {
      .c-menu__title {
        font-size: 0.83333rem; } }
    @media (min-width: 780px) {
      .c-menu__title {
        font-size: 0.75019rem; } }
    @media (min-width: 1920px) {
      .c-menu__title {
        font-size: 0.75019rem; } }
    .c-menu__title--alpha {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase; }
      @media (min-width: 0px) {
        .c-menu__title--alpha {
          font-size: 0.88889rem; } }
      @media (min-width: 480px) {
        .c-menu__title--alpha {
          font-size: 0.83333rem; } }
      @media (min-width: 780px) {
        .c-menu__title--alpha {
          font-size: 0.75019rem; } }
      @media (min-width: 1920px) {
        .c-menu__title--alpha {
          font-size: 0.75019rem; } }
  .c-menu--alpha li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
    .c-menu--alpha li svg {
      fill: #ffffff;
      opacity: 0.75;
      margin-right: 0.5rem; }
    .c-menu--alpha li.menu-item-has-children {
      border: none; }
  .c-menu--alpha a {
    color: #ffffff;
    font-family: "Zag", medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 35px;
    padding: 0 1rem;
    text-shadow: 0px 2px 2px black;
    text-transform: uppercase; }
    .c-menu--alpha a:hover {
      background: rgba(30, 30, 20, 0.5); }

.c-page-header {
  background: #fff;
  border-bottom: 1px solid #cecece;
  text-align: left; }
  .c-page-header--center {
    text-align: center; }
  .c-page-header .c-page-header__title, .c-page-header .c-page-header__title--flourished {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #246aa3;
    margin-top: 1rem;
    display: inline-block;
    margin: 1rem 5%;
    width: 90%; }
  .c-page-header__title--flourished {
    padding: 0 2rem; }
    .c-page-header__title--flourished:before, .c-page-header__title--flourished:after {
      top: 50%;
      transform: translateY(-50%);
      content: '\007E';
      display: inline-block;
      position: absolute; }
      @media (min-width: 0px) {
        .c-page-header__title--flourished:before, .c-page-header__title--flourished:after {
          font-size: 1.42383rem; } }
      @media (min-width: 480px) {
        .c-page-header__title--flourished:before, .c-page-header__title--flourished:after {
          font-size: 1.728rem; } }
      @media (min-width: 780px) {
        .c-page-header__title--flourished:before, .c-page-header__title--flourished:after {
          font-size: 2.36859rem; } }
      @media (min-width: 1920px) {
        .c-page-header__title--flourished:before, .c-page-header__title--flourished:after {
          font-size: 2.36859rem; } }
    .c-page-header__title--flourished:before {
      left: -1rem; }
    .c-page-header__title--flourished:after {
      right: -1rem; }

[data-scrollpop] {
  overflow: hidden; }

[data-scrollpop-bar] {
  height: 100%;
  overflow: auto;
  transition: width 300ms ease-in; }

.c-button, .c-button--small, .c-button--large, .c-button--outline, .c-button--truthy, .c-button--falsey, .c-button--alt, .c-button--alt-outline {
  background: #246aa3;
  border-color: #174469;
  transition: 150ms ease-out;
  border-radius: 2px;
  border-style: solid;
  border-width: 0 0 3px;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  width: auto; }
  @media (min-width: 0px) {
    .c-button, .c-button--small, .c-button--large, .c-button--outline, .c-button--truthy, .c-button--falsey, .c-button--alt, .c-button--alt-outline {
      font-size: 0.88889rem; } }
  @media (min-width: 480px) {
    .c-button, .c-button--small, .c-button--large, .c-button--outline, .c-button--truthy, .c-button--falsey, .c-button--alt, .c-button--alt-outline {
      font-size: 0.83333rem; } }
  @media (min-width: 780px) {
    .c-button, .c-button--small, .c-button--large, .c-button--outline, .c-button--truthy, .c-button--falsey, .c-button--alt, .c-button--alt-outline {
      font-size: 0.75019rem; } }
  @media (min-width: 1920px) {
    .c-button, .c-button--small, .c-button--large, .c-button--outline, .c-button--truthy, .c-button--falsey, .c-button--alt, .c-button--alt-outline {
      font-size: 0.75019rem; } }
  .c-button:hover, .c-button--small:hover, .c-button--large:hover, .c-button--outline:hover, .c-button--truthy:hover, .c-button--falsey:hover, .c-button--alt:hover, .c-button--alt-outline:hover {
    background: #174469;
    border-color: #174469; }
  .c-button:active, .c-button--small:active, .c-button--large:active, .c-button--outline:active, .c-button--truthy:active, .c-button--falsey:active, .c-button--alt:active, .c-button--alt-outline:active {
    background: #246aa3;
    border-color: #246aa3; }
  .c-button:hover, .c-button--small:hover, .c-button--large:hover, .c-button--outline:hover, .c-button--truthy:hover, .c-button--falsey:hover, .c-button--alt:hover, .c-button--alt-outline:hover {
    transition: 300ms ease-in; }
  .c-button:active, .c-button--small:active, .c-button--large:active, .c-button--outline:active, .c-button--truthy:active, .c-button--falsey:active, .c-button--alt:active, .c-button--alt-outline:active {
    transition-duration: 0ms; }

.c-button--small {
  border-bottom-width: 2px; }
  @media (min-width: 0px) {
    .c-button--small {
      font-size: 0.79012rem; } }
  @media (min-width: 480px) {
    .c-button--small {
      font-size: 0.69444rem; } }
  @media (min-width: 780px) {
    .c-button--small {
      font-size: 0.56278rem; } }
  @media (min-width: 1920px) {
    .c-button--small {
      font-size: 0.56278rem; } }

.c-button--large {
  border-bottom-width: 4px; }
  @media (min-width: 0px) {
    .c-button--large {
      font-size: 1rem; } }
  @media (min-width: 480px) {
    .c-button--large {
      font-size: 1rem; } }
  @media (min-width: 780px) {
    .c-button--large {
      font-size: 1rem; } }
  @media (min-width: 1920px) {
    .c-button--large {
      font-size: 1rem; } }

.c-button.disabled, .c-button[disabled], .c-button[disabled="disabled"] {
  background: #878787;
  border-bottom: none;
  cursor: pointer; }
  .c-button.disabled:hover, .c-button.disabled:active, .c-button[disabled]:hover, .c-button[disabled]:active, .c-button[disabled="disabled"]:hover, .c-button[disabled="disabled"]:active {
    background: #878787;
    border-bottom: none; }

.c-button--outline {
  background: #ffffff;
  border-color: #174469;
  border-width: 1px;
  border-bottom-width: 3px; }
  .c-button--outline:hover {
    background: #dbdbdb;
    border-color: #174469; }
  .c-button--outline:active {
    background: #ffffff;
    border-color: #246aa3; }

.c-button--truthy {
  background: #94e73a;
  border-color: #70c218; }
  .c-button--truthy:hover {
    background: #70c218;
    border-color: #70c218; }
  .c-button--truthy:active {
    background: #94e73a;
    border-color: #94e73a; }

.c-button--falsey {
  background: #E41A2A;
  border-color: #a4131e; }
  .c-button--falsey:hover {
    background: #a4131e;
    border-color: #a4131e; }
  .c-button--falsey:active {
    background: #E41A2A;
    border-color: #E41A2A; }

.c-button--alt {
  background: #E16636;
  border-color: #b5461b; }
  .c-button--alt:hover {
    background: #b5461b;
    border-color: #b5461b; }
  .c-button--alt:active {
    background: #E16636;
    border-color: #E16636; }
  .c-button--alt-outline {
    background: #ffffff;
    border-color: #b5461b;
    border-width: 1px;
    border-bottom-width: 3px; }
    .c-button--alt-outline:hover {
      background: #dbdbdb;
      border-color: #b5461b; }
    .c-button--alt-outline:active {
      background: #ffffff;
      border-color: #E16636; }

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #f9f9f9; }

.pln {
  color: #333; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #cccccc; }

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #fff;
  list-style-type: decimal; }

@media screen {
  /* string content */
  .str {
    color: #183691; }
  /* keyword */
  .kwd {
    color: #a71d5d; }
  /* comment */
  .com {
    color: #969896; }
  /* type name */
  .typ {
    color: #0086b3; }
  /* literal value */
  .lit {
    color: #0086b3; }
  /* punctuation */
  .pun {
    color: #333; }
  /* lisp open bracket */
  .opn {
    color: #333; }
  /* lisp close bracket */
  .clo {
    color: #333; }
  /* markup tag name */
  .tag {
    color: #000080; }
  /* markup attribute name */
  .atn {
    color: #795da3; }
  /* markup attribute value */
  .atv {
    color: #183691; }
  /* declaration */
  .dec {
    color: #333; }
  /* variable name */
  .var {
    color: #008080; }
  /* function name */
  .fun {
    color: #900; } }

.c-content-block--faux-border {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block; }
  .c-content-block--faux-border .c-content-block__inner {
    background: #ffffff;
    margin: 0.5rem;
    padding: 1rem; }
  .c-content-block--faux-border .prettyprint {
    background: #f9f9f9; }

.l-header {
  background: #23282d none repeat scroll 0 0;
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 100; }
  @media (min-width: 780px) {
    .l-header {
      height: 100vh;
      max-width: 230px;
      position: fixed; } }
  .l-header__content {
    padding: 0 1px 0; }
  .l-header__nav li a {
    padding: 0 1rem; }

/* Icon 4 */
.icon--menu {
  width: 40px;
  height: 30px;
  position: relative;
  margin: 0.5rem 1rem;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }
  .icon--menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    .icon--menu span:nth-child(1) {
      top: 0px;
      transform-origin: left center; }
    .icon--menu span:nth-child(2) {
      top: 12px;
      transform-origin: left center; }
    .icon--menu span:nth-child(3) {
      top: 24px;
      transform-origin: left center; }
  .icon--menu[data-open="true"] span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 5px; }
  .icon--menu[data-open="true"] span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .icon--menu[data-open="true"] span:nth-child(3) {
    transform: rotate(-45deg);
    top: 26px;
    left: 5px; }

.p-article .l-main {
  background: #fff; }

.l-main {
  background: #f9f9f9;
  position: relative; }
  @media (min-width: 780px) {
    .l-main {
      margin: 0 0 0 230px;
      height: 100vh;
      overflow: auto; } }
  .l-main ul, .l-main ol {
    padding: 0 2rem; }
  .l-main h1, .l-main h2, .l-main h3 {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif; }
  .l-main header {
    width: 100%; }

@media (min-width: 0px) {
  code {
    font-size: 1rem; } }

@media (min-width: 480px) {
  code {
    font-size: 1rem; } }

@media (min-width: 780px) {
  code {
    font-size: 1rem; } }

@media (min-width: 1920px) {
  code {
    font-size: 1rem; } }

a {
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

table {
  margin-bottom: 1rem; }

/* JS DOC SPECIFIC STUFF 
-------------------------------------*/
.c-returns__header,
.c-returns code {
  display: inline-block; }

/* description 
-------------------------------------*/
.c-description {
  margin: 1rem 0; }

/* Params 
-------------------------------------*/
.c-params, .c-props {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  width: 100%; }
  .c-params h6, .c-props h6 {
    margin-top: 0;
    margin-bottom: 0.25rem; }
  .c-params .type code, .c-props .type code {
    background: none; }
  .c-params thead tr, .c-props thead tr {
    background-color: #f2f2f2; }
  .c-params thead th:last-child, .c-props thead th:last-child {
    border-right: 1px solid #ddd; }
  .c-params td, .c-params th, .c-props td, .c-props th {
    border: 1px solid #ddd;
    margin: 0;
    text-align: left;
    vertical-align: top;
    padding: 0.25rem 0.5rem;
    display: table-cell; }
  @media (min-width: 0px) {
    .c-params, .c-params code, .c-params p, .c-props, .c-props code, .c-props p {
      font-size: 0.88889rem; } }
  @media (min-width: 480px) {
    .c-params, .c-params code, .c-params p, .c-props, .c-props code, .c-props p {
      font-size: 0.83333rem; } }
  @media (min-width: 780px) {
    .c-params, .c-params code, .c-params p, .c-props, .c-props code, .c-props p {
      font-size: 0.75019rem; } }
  @media (min-width: 1920px) {
    .c-params, .c-params code, .c-params p, .c-props, .c-props code, .c-props p {
      font-size: 0.75019rem; } }
  .c-params td.c-description > p:first-child, .c-props td.c-description > p:first-child {
    margin-top: 0;
    padding-top: 0; }
  .c-params td.c-description > p:last-child, .c-props td.c-description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  .c-params .c-params, .c-params .c-props, .c-props .c-params, .c-props .c-props {
    margin-bottom: 0.25rem; }
    .c-params .c-params thead tr, .c-params .c-props thead tr, .c-props .c-params thead tr, .c-props .c-props thead tr {
      background-color: #fff;
      font-weight: bold; }

/* PrettyPrint
-------------------------------------*/
.prettyprint {
  border: 0px solid #cecece;
  border-bottom-width: 1px;
  margin: 1rem 0;
  padding: 1rem;
  overflow: auto; }
  .prettyprint code {
    background: none;
    font-family: monospace;
    padding: 0; }
    @media (min-width: 0px) {
      .prettyprint code {
        font-size: 0.88889rem; } }
    @media (min-width: 480px) {
      .prettyprint code {
        font-size: 0.83333rem; } }
    @media (min-width: 780px) {
      .prettyprint code {
        font-size: 0.75019rem; } }
    @media (min-width: 1920px) {
      .prettyprint code {
        font-size: 0.75019rem; } }

@media (min-width: 0px) {
  .c-api-doc h3, .c-api-doc--intro h3 {
    font-size: 1.26563rem; } }

@media (min-width: 480px) {
  .c-api-doc h3, .c-api-doc--intro h3 {
    font-size: 1.44rem; } }

@media (min-width: 780px) {
  .c-api-doc h3, .c-api-doc--intro h3 {
    font-size: 1.77689rem; } }

@media (min-width: 1920px) {
  .c-api-doc h3, .c-api-doc--intro h3 {
    font-size: 1.77689rem; } }

@media (min-width: 0px) {
  .c-api-doc h4, .c-api-doc--intro h4 {
    font-size: 1.125rem; } }

@media (min-width: 480px) {
  .c-api-doc h4, .c-api-doc--intro h4 {
    font-size: 1.2rem; } }

@media (min-width: 780px) {
  .c-api-doc h4, .c-api-doc--intro h4 {
    font-size: 1.333rem; } }

@media (min-width: 1920px) {
  .c-api-doc h4, .c-api-doc--intro h4 {
    font-size: 1.333rem; } }

@media (min-width: 0px) {
  .c-api-doc h5, .c-api-doc--intro h5 {
    font-size: 0.88889rem; } }

@media (min-width: 480px) {
  .c-api-doc h5, .c-api-doc--intro h5 {
    font-size: 0.83333rem; } }

@media (min-width: 780px) {
  .c-api-doc h5, .c-api-doc--intro h5 {
    font-size: 0.75019rem; } }

@media (min-width: 1920px) {
  .c-api-doc h5, .c-api-doc--intro h5 {
    font-size: 0.75019rem; } }

@media (min-width: 0px) {
  .c-api-doc h6, .c-api-doc--intro h6 {
    font-size: 0.88889rem; } }

@media (min-width: 480px) {
  .c-api-doc h6, .c-api-doc--intro h6 {
    font-size: 0.83333rem; } }

@media (min-width: 780px) {
  .c-api-doc h6, .c-api-doc--intro h6 {
    font-size: 0.75019rem; } }

@media (min-width: 1920px) {
  .c-api-doc h6, .c-api-doc--intro h6 {
    font-size: 0.75019rem; } }

.c-api-doc h5, .c-api-doc--intro h5, .c-api-doc h6, .c-api-doc--intro h6 {
  text-transform: uppercase; }

.c-api-doc h5, .c-api-doc--intro h5, .c-api-doc h6, .c-api-doc--intro h6, .c-api-doc th, .c-api-doc--intro th {
  color: #878787;
  font-weight: 300; }

.c-api-doc table, .c-api-doc--intro table {
  background: #fff; }

.c-api-doc {
  margin: 1rem 5%;
  width: 90%; }
  @media (min-width: 480px) {
    .c-api-doc {
      margin: 1rem 12.5%;
      width: 75%; } }
  @media (min-width: 780px) {
    .c-api-doc {
      margin: 1rem 10%;
      width: 80%; } }
  .c-api-doc__title {
    padding: 1rem;
    margin: 1rem auto;
    width: 90%; }
    @media (min-width: 480px) {
      .c-api-doc__title {
        margin: 1rem 12.5%;
        width: 75%; } }
    @media (min-width: 780px) {
      .c-api-doc__title {
        margin: 1rem 10%;
        width: 80%; } }
  .c-api-doc__name {
    display: inline-block;
    font-family: Consolas, Monaco, "Andale Mono", monospace;
    font-weight: 400; }
  .c-api-doc__goto-source {
    border-color: #cecece;
    color: #cecece;
    display: inline-block;
    float: right;
    position: relative; }
    .c-api-doc__goto-source:hover {
      background: #f9f9f9;
      border-color: #aaaaaa;
      color: #aaaaaa; }
    .c-api-doc__goto-source:active {
      background: #cecece;
      border-color: #aaaaaa;
      color: #aaaaaa; }
  .c-api-doc--intro {
    width: 90%;
    margin: 1rem 5%; }
    .c-api-doc--intro .c-details {
      background: #f9f9f9;
      float: right;
      margin: 0 0 0.5rem;
      padding: 0.5rem; }
      @media (min-width: 0px) {
        .c-api-doc--intro .c-details {
          font-size: 0.88889rem; } }
      @media (min-width: 480px) {
        .c-api-doc--intro .c-details {
          font-size: 0.83333rem; } }
      @media (min-width: 780px) {
        .c-api-doc--intro .c-details {
          font-size: 0.75019rem; } }
      @media (min-width: 1920px) {
        .c-api-doc--intro .c-details {
          font-size: 0.75019rem; } }
      .c-api-doc--intro .c-details dt {
        float: left; }
      .c-api-doc--intro .c-details dd {
        margin-left: 0px; }
      .c-api-doc--intro .c-details ul {
        margin: 0;
        list-style-type: none; }
      .c-api-doc--intro .c-details li {
        margin-left: 30px; }
    .c-api-doc--intro .prettyprint {
      background: #ffffff; }
    .c-api-doc--intro .c-api-doc__name {
      display: none; }
  .c-api-doc .c-details {
    display: none; }

.c-main-nav {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-out; }
  @media (min-width: 780px) {
    .c-main-nav {
      height: auto;
      overflow: auto; } }
  .c-main-nav[data-ui-main-nav--state="active"] {
    transition: height 500ms ease-in;
    height: calc(100vh - 57px); }
  .c-main-nav__toggle {
    margin: 0;
    background: none;
    border: 0;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem; }
    @media (min-width: 780px) {
      .c-main-nav__toggle {
        display: none; } }
  .c-main-nav__inner {
    height: calc(100vh - 57px - 35px);
    overflow: auto; }
    @media (min-width: 780px) {
      .c-main-nav__inner {
        height: auto; } }
  .c-main-nav__close {
    background: none;
    border: 0;
    text-align: center;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
    width: 100%; }
    @media (min-width: 780px) {
      .c-main-nav__close {
        display: none; } }
  .c-main-nav .c-menu {
    overflow: auto; }
    @media (min-width: 780px) {
      .c-main-nav .c-menu {
        oveflow: hidden; } }
    .c-main-nav .c-menu a {
      text-transform: none; }
    .c-main-nav .c-menu__subtitle {
      padding: 0 1rem 0 2rem;
      color: rgba(255, 255, 255, 0.5); }
      @media (min-width: 0px) {
        .c-main-nav .c-menu__subtitle {
          font-size: 0.88889rem; } }
      @media (min-width: 480px) {
        .c-main-nav .c-menu__subtitle {
          font-size: 0.83333rem; } }
      @media (min-width: 780px) {
        .c-main-nav .c-menu__subtitle {
          font-size: 0.75019rem; } }
      @media (min-width: 1920px) {
        .c-main-nav .c-menu__subtitle {
          font-size: 0.75019rem; } }
    .c-main-nav .c-menu__members {
      display: none; }
      .c-main-nav .c-menu__members a {
        line-height: 25px;
        font-family: Consolas, Monaco, "Andale Mono", monospace;
        padding: 0 1rem 0 2rem;
        text-transform: initial;
        text-shadow: none;
        border: none; }
        @media (min-width: 0px) {
          .c-main-nav .c-menu__members a {
            font-size: 0.79012rem; } }
        @media (min-width: 480px) {
          .c-main-nav .c-menu__members a {
            font-size: 0.69444rem; } }
        @media (min-width: 780px) {
          .c-main-nav .c-menu__members a {
            font-size: 0.56278rem; } }
        @media (min-width: 1920px) {
          .c-main-nav .c-menu__members a {
            font-size: 0.56278rem; } }
  .c-main-nav .c-menu__item--active {
    background-image: -webkit-linear-gradient(_fix-direction(to left), #246aa3, #174469);
    background-image: linear-gradient(to left, #246aa3, #174469); }
    .c-main-nav .c-menu__item--active:after {
      content: '';
      display: block;
      height: 0;
      width: 0;
      clear: both; }
    .c-main-nav .c-menu__item--active .c-menu__members {
      display: none; }
      @media (min-width: 480px) {
        .c-main-nav .c-menu__item--active .c-menu__members {
          display: inline;
          float: left;
          top: 0;
          width: 50%; } }
      @media (min-width: 780px) {
        .c-main-nav .c-menu__item--active .c-menu__members {
          display: block;
          float: none;
          width: auto; } }
      .c-main-nav .c-menu__item--active .c-menu__members li {
        border: none;
        display: inline;
        float: left;
        width: 50%; }
        @media (min-width: 780px) {
          .c-main-nav .c-menu__item--active .c-menu__members li {
            display: block;
            float: none;
            width: auto; } }

.l-header {
  background: #174469 none repeat scroll 0 0; }
  .l-header h1 {
    text-align: center; }
    @media (min-width: 780px) {
      .l-header h1 {
        height: 82px; } }
    .l-header h1 a {
      color: rgba(255, 255, 255, 0.5);
      font-weight: 300;
      text-decoration: none; }
      @media (min-width: 0px) {
        .l-header h1 a {
          font-size: 1.125rem; } }
      @media (min-width: 480px) {
        .l-header h1 a {
          font-size: 1.2rem; } }
      @media (min-width: 780px) {
        .l-header h1 a {
          font-size: 1.333rem; } }
      @media (min-width: 1920px) {
        .l-header h1 a {
          font-size: 1.333rem; } }
    @media (min-width: 0px) {
      .l-header h1 span {
        font-size: 1rem; } }
    @media (min-width: 480px) {
      .l-header h1 span {
        font-size: 1rem; } }
    @media (min-width: 780px) {
      .l-header h1 span {
        font-size: 1rem; } }
    @media (min-width: 1920px) {
      .l-header h1 span {
        font-size: 1rem; } }

/*# sourceMappingURL=main.css.map */
